@model  DbToXML.ViewModel.AccountViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Resource.titleRegistration;
}

<div class="row">
    <div class="col-md-6  col-md-offset-3">
        <div class="panel panel-default my-panel">
            <div class="panel-body">
                <h3 class="text-center"><b>@Resources.Resource.titleFormRegistration</b></h3>
                <br>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @placeholder = Resources.Resource.Username, @type = "text", @required = true })
                        </div>
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "form-control", @placeholder = Resources.Resource.Password, @type = "password", @required = true })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password)
                   </div>
                
                   <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", @placeholder = Resources.Resource.ConfirmPassword, @type = "password", @required = true })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>

                    <div class="form-group">
                         <div class="input-group">
                             <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                             @Html.DropDownListFor(model => model.RoleId, Model.Roles, htmlAttributes: new { @class = "form-control"})
                         </div>
                    </div>

                    <div class="form-group text-center">
                        <br>
                        <button type="submit" class="btn btn-success">@Resources.Resource.CreateAccount  <span class="glyphicon glyphicon-send"></span></button>   
                    </div>

                    <div class="text-center">
                        @Html.ActionLink(Resources.Resource.LogIntoExistingAccount, "Login", "Account")
                    </div>
                }
            </div>
        </div>
    </div>
</div>



